# Supabase 설정
NEXT_PUBLIC_SUPABASE_URL=https://qxsyopbfimtrzxktmmxk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF4c3lvcGJmaW10cnp4a3RtbXhrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTYxODY2NzcsImV4cCI6MjA3MTc2MjY3N30.DXK4iehzdzuVMcxcmc2EOloP9ltD97tEwJsQmpRWc-s
